n8n/workflows/01-academia-followup-7-dias-quente.json
{
  "name": "Academia Follow-up 7 Dias - Re-engajamento Suave",
  "nodes": [
    {
      "id": "8b8c4b5d-d4e4-4a7c-9b3c-8f2a1e5d6c7b",
      "name": "Trigger Diário",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      }
    },
    {
      "id": "1a2b3c4d-e5f6-7890-abcd-ef1234567890",
      "name": "Buscar Alunos 7 Dias Inativos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        400,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  nome_completo,\n  primeiro_nome,\n  whatsapp_formatado,\n  dias_inativo,\n  id\nFROM academia_members \nWHERE status_atividade = 'inactive' \n  AND dias_inativo = 7\n  AND classificacao_reativacao = 'QUENTE'\n  AND consentimento_marketing = true\n  AND tentativas_reativacao < 3\nORDER BY ultima_tentativa_reativacao ASC NULLS FIRST\nLIMIT 20"
      }
    },
    {
      "id": "2b3c4d5e-f6g7-8901-bcde-f23456789012",
      "name": "Processar Mensagens Personalizadas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        300
      ],
      "parameters": {
        "jsCode": "// Processar cada aluno para personalização\nconst items = $input.all();\nconst processedItems = [];\n\nfor (const item of items) {\n  const firstName = item.json.primeiro_nome || item.json.nome_completo.split(' ')[0];\n  const whatsappNumber = item.json.whatsapp_formatado;\n  \n  // Template de mensagem QUENTE (7 dias) - Re-engajamento suave\n  const message = `Oi ${firstName}! 🏋️ Sentimos sua falta na Full Force! Que tal voltarmos aos treinos? Posso agendar um horário especial pra você essa semana? 💪`;\n  \n  processedItems.push({\n    json: {\n      number: whatsappNumber,\n      message: message,\n      studentName: firstName,\n      studentId: item.json.id,\n      daysSinceLastActivity: item.json.dias_inativo,\n      campaignType: 'QUENTE_7_DIAS',\n      timestamp: new Date().toISOString()\n    }\n  });\n}\n\nreturn processedItems;"
      }
    },
    {
      "id": "3c4d5e6f-g7h8-9012-cdef-345678901234",
      "name": "Rate Limit Control",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        750,
        300
      ],
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      }
    },
    {
      "id": "4d5e6f7g-h8i9-0123-defg-456789012345",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://whatsapp-api:3001/send-message",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.number }}\",\n  \"message\": \"{{ $json.message }}\"\n}",
        "options": {
          "timeout": 10000
        },
        "onError": "continueRegularOutput",
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 3000
      }
    },
    {
      "id": "5e6f7g8h-i9j0-1234-efgh-567890123456",
      "name": "Registrar Tentativa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE academia_members \nSET \n  tentativas_reativacao = tentativas_reativacao + 1,\n  ultima_tentativa_reativacao = CURRENT_TIMESTAMP\nWHERE whatsapp_formatado = '{{ $json.number }}'"
      }
    },
    {
      "id": "6f7g8h9i-j0k1-2345-fghi-678901234567",
      "name": "Log Campanha",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO campaign_logs (\n  student_id,\n  campaign_type,\n  message_sent,\n  whatsapp_number,\n  status,\n  sent_at\n) VALUES (\n  {{ $json.studentId }},\n  '{{ $json.campaignType }}',\n  '{{ $json.message }}',\n  '{{ $json.number }}',\n  'sent',\n  CURRENT_TIMESTAMP\n)"
      }
    }
  ],
  "connections": {
    "Trigger Diário": {
      "main": [
        [
          {
            "node": "Buscar Alunos 7 Dias Inativos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Alunos 7 Dias Inativos": {
      "main": [
        [
          {
            "node": "Processar Mensagens Personalizadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Mensagens Personalizadas": {
      "main": [
        [
          {
            "node": "Rate Limit Control",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Control": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "Registrar Tentativa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Tentativa": {
      "main": [
        [
          {
            "node": "Log Campanha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "timezone": "America/Sao_Paulo"
  },
  "staticData": null,
  "tags": [
    {
      "id": "academia-reativacao",
      "name": "Academia Reativação"
    },
    {
      "id": "whatsapp-automation",
      "name": "WhatsApp Automation"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-09-15T21:40:00.000Z",
  "versionId": "1"
}