n8n/workflows/02-academia-followup-14-dias-morno.json
{
  "name": "Academia Follow-up 14 Dias - Oferta Motivacional",
  "nodes": [
    {
      "id": "7b8c9d0e-f1g2-3456-789a-bcdef0123456",
      "name": "Trigger Diário",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      }
    },
    {
      "id": "8c9d0e1f-g2h3-4567-890a-bcdef1234567",
      "name": "Buscar Alunos 14 Dias Inativos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        400,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  nome_completo,\n  primeiro_nome,\n  whatsapp_formatado,\n  dias_inativo,\n  id\nFROM academia_members \nWHERE status_atividade = 'inactive' \n  AND dias_inativo = 14\n  AND classificacao_reativacao = 'MORNO'\n  AND consentimento_marketing = true\n  AND tentativas_reativacao < 3\nORDER BY ultima_tentativa_reativacao ASC NULLS FIRST\nLIMIT 20"
      }
    },
    {
      "id": "9d0e1f2g-h3i4-5678-901a-bcdef2345678",
      "name": "Processar Mensagens Motivacionais",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        300
      ],
      "parameters": {
        "jsCode": "// Processar cada aluno para personalização motivacional\nconst items = $input.all();\nconst processedItems = [];\n\nfor (const item of items) {\n  const firstName = item.json.primeiro_nome || item.json.nome_completo.split(' ')[0];\n  const whatsappNumber = item.json.whatsapp_formatado;\n  \n  // Template de mensagem MORNO (14 dias) - Oferta motivacional\n  const message = `${firstName}, preparamos um PLANO DE RETORNO especial pra você! ✅ Avaliação gratuita ✅ Programa personalizado ✅ Acompanhamento exclusivo. Responda EU QUERO! 🔥`;\n  \n  processedItems.push({\n    json: {\n      number: whatsappNumber,\n      message: message,\n      studentName: firstName,\n      studentId: item.json.id,\n      daysSinceLastActivity: item.json.dias_inativo,\n      campaignType: 'MORNO_14_DIAS',\n      timestamp: new Date().toISOString()\n    }\n  });\n}\n\nreturn processedItems;"
      }
    },
    {
      "id": "0e1f2g3h-i4j5-6789-012a-bcdef3456789",
      "name": "Rate Limit Control",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        750,
        300
      ],
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      }
    },
    {
      "id": "1f2g3h4i-j5k6-7890-123a-bcdef4567890",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://whatsapp-api:3001/send-message",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.number }}\",\n  \"message\": \"{{ $json.message }}\"\n}",
        "options": {
          "timeout": 10000
        },
        "onError": "continueRegularOutput",
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 3000
      }
    },
    {
      "id": "2g3h4i5j-k6l7-8901-234a-bcdef5678901",
      "name": "Registrar Tentativa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE academia_members \nSET \n  tentativas_reativacao = tentativas_reativacao + 1,\n  ultima_tentativa_reativacao = CURRENT_TIMESTAMP\nWHERE whatsapp_formatado = '{{ $json.number }}'"
      }
    },
    {
      "id": "3h4i5j6k-l7m8-9012-345a-bcdef6789012",
      "name": "Log Campanha",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO campaign_logs (\n  student_id,\n  campaign_type,\n  message_sent,\n  whatsapp_number,\n  status,\n  sent_at\n) VALUES (\n  {{ $json.studentId }},\n  '{{ $json.campaignType }}',\n  '{{ $json.message }}',\n  '{{ $json.number }}',\n  'sent',\n  CURRENT_TIMESTAMP\n)"
      }
    }
  ],
  "connections": {
    "Trigger Diário": {
      "main": [
        [
          {
            "node": "Buscar Alunos 14 Dias Inativos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Alunos 14 Dias Inativos": {
      "main": [
        [
          {
            "node": "Processar Mensagens Motivacionais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Mensagens Motivacionais": {
      "main": [
        [
          {
            "node": "Rate Limit Control",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Control": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "Registrar Tentativa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Tentativa": {
      "main": [
        [
          {
            "node": "Log Campanha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "timezone": "America/Sao_Paulo"
  },
  "staticData": null,
  "tags": [
    {
      "id": "academia-reativacao",
      "name": "Academia Reativação"
    },
    {
      "id": "whatsapp-automation",
      "name": "WhatsApp Automation"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-09-15T21:42:00.000Z",
  "versionId": "1"
}