n8n/workflows/03-analytics-campanhas.json
{
  "name": "Academia - Analytics e Monitoramento",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "schedule-analytics",
      "name": "Schedule Analytics",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://whatsapp-api:3001/status"
      },
      "id": "check-whatsapp-status",
      "name": "Check WhatsApp Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 200]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": "1QT4yy2AoI2gvnIxEhh31J8aq4c_yVJ_NCKk3bkgPo6w",
        "sheetName": "Campaign_Log",
        "range": "A:Z"
      },
      "id": "get-campaign-logs",
      "name": "Get Campaign Logs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [460, 400]
    },
    {
      "parameters": {
        "language": "javascript",
        "jsCode": "// Analisar métricas de campanha\nconst whatsappStatus = $input.first().json;\nconst campaignLogs = $input.last().json;\n\n// Calcular métricas de hoje\nconst hoje = new Date().toISOString().split('T')[0];\nconst logsHoje = campaignLogs.filter(log => \n  log.timestamp && log.timestamp.startsWith(hoje)\n);\n\n// Métricas por segmento\nconst metricasPorSegmento = {\n  QUENTE: logsHoje.filter(log => log.segment === 'QUENTE').length,\n  MORNO: logsHoje.filter(log => log.segment === 'MORNO').length,\n  FRIO: logsHoje.filter(log => log.segment === 'FRIO').length,\n  CONGELADO: logsHoje.filter(log => log.segment === 'CONGELADO').length\n};\n\n// Calcular taxa de sucesso (simulação baseada no segmento)\nconst calcularTaxaSucesso = (segmento, quantidade) => {\n  const taxas = {\n    QUENTE: 0.35,    // 35% taxa de resposta esperada\n    MORNO: 0.25,     // 25% taxa de resposta esperada\n    FRIO: 0.15,      // 15% taxa de resposta esperada\n    CONGELADO: 0.05  // 5% taxa de resposta esperada\n  };\n  return Math.floor(quantidade * (taxas[segmento] || 0.1));\n};\n\n// Projeções de reativação\nconst projecaoReativacao = {\n  QUENTE: calcularTaxaSucesso('QUENTE', metricasPorSegmento.QUENTE),\n  MORNO: calcularTaxaSucesso('MORNO', metricasPorSegmento.MORNO),\n  FRIO: calcularTaxaSucesso('FRIO', metricasPorSegmento.FRIO),\n  CONGELADO: calcularTaxaSucesso('CONGELADO', metricasPorSegmento.CONGELADO)\n};\n\nconst totalReativacaoProjetada = Object.values(projecaoReativacao).reduce((a, b) => a + b, 0);\nconst receitaProjetada = totalReativacaoProjetada * 129; // R$ 129 mensalidade\n\n// Métricas de performance\nconst analytics = {\n  timestamp: new Date().toISOString(),\n  data_analise: hoje,\n  \n  // Status do sistema\n  whatsapp_status: whatsappStatus.status || 'unknown',\n  whatsapp_conectado: whatsappStatus.isConnected || false,\n  \n  // Métricas de campanha do dia\n  mensagens_enviadas_hoje: logsHoje.length,\n  por_segmento: metricasPorSegmento,\n  \n  // Projeções\n  projecao_reativacao: projecaoReativacao,\n  total_reativacao_projetada: totalReativacaoProjetada,\n  receita_projetada_mensal: receitaProjetada,\n  \n  // KPIs\n  taxa_envio_diaria: logsHoje.length,\n  meta_diaria: 50, // Meta de 50 mensagens por dia\n  percentual_meta: Math.round((logsHoje.length / 50) * 100),\n  \n  // ROI estimado\n  custo_operacional_estimado: 500, // R$ 500/mês custo operacional\n  roi_projetado: receitaProjetada > 500 ? Math.round(((receitaProjetada - 500) / 500) * 100) : 0,\n  \n  // Alertas\n  alertas: [\n    whatsappStatus.isConnected ? null : 'WhatsApp desconectado',\n    logsHoje.length < 10 ? 'Baixo volume de mensagens hoje' : null,\n    totalReativacaoProjetada < 20 ? 'Meta de reativação em risco' : null\n  ].filter(alert => alert !== null),\n  \n  academia: 'Full Force Academia - Matupá-MT'\n};\n\nreturn { json: analytics };"
      },
      "id": "calculate-analytics",
      "name": "Calculate Analytics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "1QT4yy2AoI2gvnIxEhh31J8aq4c_yVJ_NCKk3bkgPo6w",
        "sheetName": "Analytics_Daily",
        "valueInputMode": "define",
        "fieldsUi": {
          "values": [
            {"fieldId": "data", "fieldValue": "={{ $json.data_analise }}"},
            {"fieldId": "mensagens_enviadas", "fieldValue": "={{ $json.mensagens_enviadas_hoje }}"},
            {"fieldId": "quente", "fieldValue": "={{ $json.por_segmento.QUENTE }}"},
            {"fieldId": "morno", "fieldValue": "={{ $json.por_segmento.MORNO }}"},
            {"fieldId": "frio", "fieldValue": "={{ $json.por_segmento.FRIO }}"},
            {"fieldId": "congelado", "fieldValue": "={{ $json.por_segmento.CONGELADO }}"},
            {"fieldId": "reativacao_projetada", "fieldValue": "={{ $json.total_reativacao_projetada }}"},
            {"fieldId": "receita_projetada", "fieldValue": "={{ $json.receita_projetada_mensal }}"},
            {"fieldId": "roi_percentual", "fieldValue": "={{ $json.roi_projetado }}"},
            {"fieldId": "whatsapp_status", "fieldValue": "={{ $json.whatsapp_status }}"},
            {"fieldId": "alertas", "fieldValue": "={{ $json.alertas.join('; ') }}"},
            {"fieldId": "timestamp", "fieldValue": "={{ $json.timestamp }}"}
          ]
        }
      },
      "id": "save-analytics",
      "name": "Save Analytics to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "alertas-criticas",
              "leftValue": "={{ $json.alertas.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "check-alerts",
      "name": "Check for Alerts",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://whatsapp-api:3001/send-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"number\": \"5565999999999\", \n  \"message\": \"🚨 ALERTA Full Force Academia\\n\\n{{ $json.alertas.join('\\n') }}\\n\\nVerifique o sistema: http://localhost:5678\"\n}"
      },
      "id": "send-alert",
      "name": "Send Alert via WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "language": "javascript",
        "jsCode": "// Gerar relatório de performance diário\nconst analytics = $json;\n\nconst relatorio = `📊 RELATÓRIO DIÁRIO - Full Force Academia\n🗓️ ${analytics.data_analise}\n\n📱 MENSAGENS ENVIADAS: ${analytics.mensagens_enviadas_hoje}\n🎯 Meta Diária: ${analytics.meta_diaria} (${analytics.percentual_meta}%)\n\n📈 POR SEGMENTO:\n🔥 QUENTE: ${analytics.por_segmento.QUENTE}\n🟡 MORNO: ${analytics.por_segmento.MORNO}\n🔵 FRIO: ${analytics.por_segmento.FRIO}\n❄️ CONGELADO: ${analytics.por_segmento.CONGELADO}\n\n💰 PROJEÇÕES:\n👥 Reativações Esperadas: ${analytics.total_reativacao_projetada}\n💵 Receita Projetada: R$ ${analytics.receita_projetada_mensal.toLocaleString()}\n📊 ROI: ${analytics.roi_projetado}%\n\n${analytics.whatsapp_conectado ? '✅' : '❌'} WhatsApp: ${analytics.whatsapp_status}\n\n${analytics.alertas.length > 0 ? '⚠️ ALERTAS:\\n' + analytics.alertas.join('\\n') : '✅ Sistema funcionando normalmente'}`;\n\nreturn {\n  json: {\n    relatorio: relatorio,\n    analytics: analytics\n  }\n};"
      },
      "id": "generate-daily-report",
      "name": "Generate Daily Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Schedule Analytics": {
      "main": [
        [
          {
            "node": "Check WhatsApp Status",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Campaign Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check WhatsApp Status": {
      "main": [
        [
          {
            "node": "Calculate Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Campaign Logs": {
      "main": [
        [
          {
            "node": "Calculate Analytics",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Calculate Analytics": {
      "main": [
        [
          {
            "node": "Save Analytics to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Analytics to Sheets": {
      "main": [
        [
          {
            "node": "Check for Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Alerts": {
      "main": [
        [
          {
            "node": "Send Alert via WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["academia", "analytics", "monitoring"]
}