n8n/workflows/04-teste-sistema.json
{
  "name": "Academia - Teste do Sistema",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-test-trigger",
      "name": "Manual Test Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://whatsapp-api:3001/status"
      },
      "id": "test-whatsapp-connection",
      "name": "Test WhatsApp Connection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 200]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": "1QT4yy2AoI2gvnIxEhh31J8aq4c_yVJ_NCKk3bkgPo6w",
        "sheetName": "Sheet1",
        "range": "A1:Z3"
      },
      "id": "test-sheets-connection",
      "name": "Test Sheets Connection",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [460, 400]
    },
    {
      "parameters": {
        "language": "javascript",
        "jsCode": "// Validar todas as conexões e preparar dados de teste\nconst whatsappStatus = $input.first().json;\nconst sheetsData = $input.last().json;\n\n// Dados de teste para a academia\nconst testData = {\n  nome_completo: \"João Silva Teste\",\n  primeiro_nome: \"João\",\n  celular: \"65999887766\",\n  whatsapp: \"5565999887766\",\n  email: \"joao.teste@gmail.com\",\n  idade: 28,\n  segmento: \"QUENTE\",\n  message: \"Oi João! 🏋️ Esta é uma mensagem de teste do sistema de automação da Full Force Academia! Se você recebeu isso, o sistema está funcionando perfeitamente! 💪\"\n};\n\n// Validações\nconst validations = {\n  whatsapp_conectado: whatsappStatus.isConnected || false,\n  whatsapp_status: whatsappStatus.status || 'unknown',\n  sheets_acessivel: Array.isArray(sheetsData) && sheetsData.length > 0,\n  dados_disponiveis: sheetsData ? sheetsData.length : 0,\n  timestamp: new Date().toISOString()\n};\n\nreturn {\n  json: {\n    testData: testData,\n    validations: validations,\n    sistema_pronto: validations.whatsapp_conectado && validations.sheets_acessivel\n  }\n};"
      },
      "id": "prepare-test-data",
      "name": "Prepare Test Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "sistema-pronto",
              "leftValue": "={{ $json.sistema_pronto }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ]
        }
      },
      "id": "check-system-ready",
      "name": "Check System Ready",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://whatsapp-api:3001/send-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.testData.whatsapp }}\",\n  \"message\": \"{{ $json.testData.message }}\"\n}"
      },
      "id": "send-test-message",
      "name": "Send Test Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "1QT4yy2AoI2gvnIxEhh31J8aq4c_yVJ_NCKk3bkgPo6w",
        "sheetName": "Test_Log",
        "valueInputMode": "define",
        "fieldsUi": {
          "values": [
            {"fieldId": "timestamp", "fieldValue": "={{ $json.validations.timestamp }}"},
            {"fieldId": "teste_tipo", "fieldValue": "Sistema Completo"},
            {"fieldId": "whatsapp_status", "fieldValue": "={{ $json.validations.whatsapp_status }}"},
            {"fieldId": "whatsapp_conectado", "fieldValue": "={{ $json.validations.whatsapp_conectado }}"},
            {"fieldId": "sheets_acessivel", "fieldValue": "={{ $json.validations.sheets_acessivel }}"},
            {"fieldId": "dados_disponaveis", "fieldValue": "={{ $json.validations.dados_disponiveis }}"},
            {"fieldId": "sistema_pronto", "fieldValue": "={{ $json.sistema_pronto }}"},
            {"fieldId": "teste_numero", "fieldValue": "={{ $json.testData.whatsapp }}"},
            {"fieldId": "resultado", "fieldValue": "Teste executado com sucesso"}
          ]
        }
      },
      "id": "log-test-success",
      "name": "Log Test Success",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "language": "javascript",
        "jsCode": "// Gerar relatório de erro do sistema\nconst data = $json;\n\nconst erros = [];\nif (!data.validations.whatsapp_conectado) {\n  erros.push('❌ WhatsApp não conectado');\n}\nif (!data.validations.sheets_acessivel) {\n  erros.push('❌ Google Sheets inacessível');\n}\nif (data.validations.dados_disponiveis === 0) {\n  erros.push('⚠️ Nenhum dado encontrado nas planilhas');\n}\n\nconst relatorioErro = `🚨 ERRO NO SISTEMA - Full Force Academia\n\n${erros.join('\\n')}\n\nDetalhes:\n📱 WhatsApp Status: ${data.validations.whatsapp_status}\n📊 Dados Disponíveis: ${data.validations.dados_disponiveis}\n🕐 Timestamp: ${data.validations.timestamp}\n\n🔧 Ações Necessárias:\n1. Verificar conexão WhatsApp (QR Code)\n2. Validar credenciais Google Sheets\n3. Confirmar dados nas planilhas`;\n\nreturn {\n  json: {\n    erro: true,\n    relatorio: relatorioErro,\n    validations: data.validations\n  }\n};"
      },
      "id": "generate-error-report",
      "name": "Generate Error Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "1QT4yy2AoI2gvnIxEhh31J8aq4c_yVJ_NCKk3bkgPo6w",
        "sheetName": "Test_Log",
        "valueInputMode": "define",
        "fieldsUi": {
          "values": [
            {"fieldId": "timestamp", "fieldValue": "={{ $json.validations.timestamp }}"},
            {"fieldId": "teste_tipo", "fieldValue": "Sistema Completo"},
            {"fieldId": "whatsapp_status", "fieldValue": "={{ $json.validations.whatsapp_status }}"},
            {"fieldId": "whatsapp_conectado", "fieldValue": "={{ $json.validations.whatsapp_conectado }}"},
            {"fieldId": "sheets_acessivel", "fieldValue": "={{ $json.validations.sheets_acessivel }}"},
            {"fieldId": "dados_disponaveis", "fieldValue": "={{ $json.validations.dados_disponiveis }}"},
            {"fieldId": "sistema_pronto", "fieldValue": "false"},
            {"fieldId": "teste_numero", "fieldValue": "N/A"},
            {"fieldId": "resultado", "fieldValue": "={{ $json.relatorio }}"}
          ]
        }
      },
      "id": "log-test-error",
      "name": "Log Test Error",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Manual Test Trigger": {
      "main": [
        [
          {
            "node": "Test WhatsApp Connection",
            "type": "main",
            "index": 0
          },
          {
            "node": "Test Sheets Connection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test WhatsApp Connection": {
      "main": [
        [
          {
            "node": "Prepare Test Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Sheets Connection": {
      "main": [
        [
          {
            "node": "Prepare Test Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prepare Test Data": {
      "main": [
        [
          {
            "node": "Check System Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check System Ready": {
      "main": [
        [
          {
            "node": "Send Test Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Error Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Test Message": {
      "main": [
        [
          {
            "node": "Log Test Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Error Report": {
      "main": [
        [
          {
            "node": "Log Test Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["academia", "teste", "validacao"]
}